input {
    outline: none;
    height: 25px;
    width: 100px;
}
h3 {
    color: #B3AF00;
}
h1 {
    color: red;
}
li {
    list-style: none;
}
table {
    border-collapse:collapse;
}
tr , td {
    border: 1px solid #eee;
    padding: 10px 20px;
}